footer

  li
    float: left
    margin-top: 20px
    
  ul.pull-left li
    margin-right: 20px
    
  ul.pull-right li
    margin-left: 20px
      
  a.fix-it-with-code
    font-family: monaco
    font-size: 10pt
    color: white