.form-errors
  background: $pink
  padding: 10px
  
  p, ul li
    font-size: 10pt
    margin: 0px
  
form
  margin: 0px auto

input, textarea, label
  display: block
  font-size: 12pt
  line-height: 22pt
  text-align: center
  margin: 10px 0px

input, textarea
  font-family: $normal
  width: 95%
  font-size: 10pt
  padding: 0px 5px
  border: 1px solid $grey
  @include border-radius-4
  @include light-grey-box-shadow
  
  &:focus
    outline: none
    border: 1px solid $blue
    
input.file_field
  border: none
  display: none

textarea
  height: 150px

input.submit
  background-color: $blue
  color: $white
  @include transition-animation
  @include no-box-shadow
  @include no-border-radius
  width: 96%
  padding: 3px 30px
  text-align: center
  margin: 10px 20px 
  font-size: 12pt
  cursor: pointer
  border: none
  
  &.pull-right
    width: auto
    margin: 10px 17px
  
  &:hover
    background: $dark_blue
    color: $white

form.full
  margin: 20px 10px 10px 
  
  input, label, textarea
    width: 99%
    
  input.submit
    width: auto
    margin: 0px
    margin-top: 10px

form.small
  input, label, textarea
    font-size: 10pt
    margin: 10px 
    width: 245px
    border: none
  
  textarea
    height: 50px
  
  input.submit
    margin: 20px 10px 10px
    
form.sessions
  
  input.submit
    margin: 0px
    margin-top: 10px