header
  font-size: 24pt
  line-height: 60pt
  
  a.brand
    float: left
    color: $black    
  
  ul
    float: right
    
    li 
      float: left
      
      a
        margin-left: 20px
        font-size: 14pt
        line-height: 60pt
        font-family: $script
        color:  $black
        background-image: url('creampaper.png')
        @include dark-grey-box-shadow
        padding: 5px 20px
        
        &:hover
          color: white
          background-image: none
          background-color: royalblue