.public
  .index
  
    .buffer
      %h1 The Calligraphy of Emily Ellison
      
    .ribbon.blue.thin
    
    .buffer
      .third.grid
        .column
          = image_tag 'emily.jpg', size: '300x200'
          %p 
            Emily is a professional calligrapher and font specialist.
            Her work stretches from wedding invitations to corporate
            branding. 
        .double.column
          .pull-right= image_tag "http://placekitten.com/550/460"
        .clear